
html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scene-container {
  width: 900px;
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
}
